<div class="panel form-filter">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="flex-between">
            <input type="text" name="ticket-name" id="id-ticket-name" class="form-control" placeholder="Ticket name">
            <select name="ticket-status" id="id-ticket-status" class="form-control">
                <optgroup label="Status">
                    <option value="O" selected>Open</option>
                    <option value="C">Closed</option>
                </optgroup>
            </select>
            <button type="submit" class="button  button-black">Filter</button>
        </div>
    </form>
</div>