<div class="panel form-filter">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="flex-between">
            <input type="text" name="title" id="title" class="form-control" placeholder="Title">
            <select name="status" id="id-status" class="form-control">
                <optgroup label="Status">
                    <option value="O" selected>Open</option>
                    <option value="C">Closed</option>
                </optgroup>
            </select>
            <button type="submit" class="button  button-black">Filter</button>
        </div>
    </form>
</div>