<div class="pane panel-big">
    <div class="panel-header  flex-between">
        <h1 class="panel-header__title  text-left">Tickets</h1>
    </div>
    <div class="panel-body">
        <div class="ticket-container">
            <div class="ticket-item  ticket-item__header">
                <div class="ticket-item__id">N°</div>
                <div class="ticket-item__title">title</div>
                <div class="ticket-item__author">author</div>
                <div class="ticket-item__assignto">assign to</div>
                <div class="ticket-item__created">created at</div>
                <div class="ticket-item__status">status</div>
                <div class="ticket-item__status">action</div>
            </div>
            {% for ticket in tickets %}
            <div class="ticket-item">
                <div class="ticket-item__id">{{ forloop.counter }}</div>
                <div class="ticket-item__title">
                    <a class="link" href="/ticket/{{ticket.id}}">
                         {{ ticket.title }}
                    </a>
                </div>
                <div class="ticket-item__author">
                    <span class="ticket-label ticket-label__author">{{ ticket.author }}</span>
                </div>
                <div class="ticket-item__assignto">
                    <span class="ticket-label ticket-label__assignto">
                        {{ ticket.assignee.all | first }}
                    </span>
                    {% if ticket.assignee.all.count > 1 %} + {{ ticket.assignee.all.count|add:"-1" }} users {% endif %}
                </div>
                <div class="ticket-item__created">{{ ticket.created|date:"d-m-Y" }}</div>
                <div class="ticket-item__status">
                    <span class={% if ticket.status == 'O' %} "ticket-label ticket-label__open" {% else %}"ticket-label ticket-label__closed" {% endif %}>                         
                        {% if ticket.status == 'O' %}
                            open
                        {% else %}
                            closed
                        {% endif %}
                    </span>
                </div>
                <div class="">
                    <a href="/ticket/{{ticket.id}}/delete" class="button  button-red ticket-label__closed">delete</a>                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="panel-footer"></div>
</div>