{% extends './base.html' %} {% block title %} Ticket {% endblock title %} 
{% block content %} 
{% include "./header.html"%}
<div class="container-form  boxed">
    <div class="panel panel-small">
        <div class="panel-header">
            <div class="panel-header__title">
                <h1>Ticket</h1>
            </div>
        </div>
        <div class="panel-body">
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %} {% include "ticketing_system/form_snippet.html" with form=ticket_form %}
                <button type="submit" class="button  button-big  button-blue  block  bold">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}