// Colors
$blue: #01579B;
$light-blue: #4298ff;
$alice-dark: lighten(#1287A8, 5%);
$alice-blue: lighten(#00f0ff, 5%);
$white: #FFFFFF;
$black: #181818;
$gray: #8B939E;
$light-gray: #e9ebee;
$red: #cb2431;
$yellow: #F9A825;
$green: #5cb85c;
$orange: #EF6C00;
$violet: #673AB7;
$teal: #00796B;
