.block {
  display: block;
  width: 100%;
}

.no-margin {
  margin: 0;
}

.bold {
  font-weight: $bold;
}

a.link {
  &:hover {
    text-decoration: underline;
  }
}

.success {
  color: $green;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
